body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #ff0000;
  }

  h2 {
    color: #0056b3;
  }
  
  a {
    text-decoration: none;
    color: #0056b3;
  }
  
  a:hover {
    color: #ff6600;
  }
  
  strong {
    font-size: 1.2em;
  }
  
  img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #d0d0d0;
  }